.teal {
    color: teal;
    font-family: monospace;
    font-weight: bold;
    font-size: 75%;
    white-space: nowrap;
    padding: 1px 2px;
    box-sizing: border-box;
    background-origin: padding-box;
    background-clip: border-box;
    border-style: none;
}
